// Specific CSS
.banner {
  height: 100vh;
  background-size: cover;
  display: flex;
  background-size: cover;
}

 .banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1602918955248-d1bbfcbfae38?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.slogan p {
  color:white;
}

  h1 {
    margin-top: 16px;
    margin-left: 16px;
    color: #0d1117;
  }
  p {
    margin-left: 16px;
    color: #0d1117;
      
  }

.btn-info {
  margin-left: 16px;
  margin-bottom: 16px;  
}

a.container {
  color: #0d1117;
}


body.landingpage {
  border: solid 1px #f8f8ff;
}

.bordered {
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
  border-radius: 5px;
  background: #DC3C18;
  color:#f8f8ff;
}



.zig-zag {
  border: none;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 40px;
  background: linear-gradient(135deg,  25%, transparent 25%) -20px 0,
    linear-gradient(225deg, #DC3C18 25%, transparent 25%) -20px 0,
    linear-gradient(315deg, #DC3C18 25%, transparent 25%),
    linear-gradient(45deg,#DC3C18 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: #EC173A;
}
