// Specific CSS
.banner {
  height: 30vh;
  background-size: cover;
  display: flex;
  background-size: cover;
  h1 {
    margin-top: 16px;
    margin-left: 16px;
    color: #2292A4;
  }
  p {
    margin-left: 16px;
    color: #2292A4;
      
  }
}

.btn-info {
  margin-left: 16px;
  margin-bottom: 16px;  
}

.container {
  color: #2292A4;
  
}

// body.landingpage {
//   background-color: #000;
// }

.bordered {
  padding-top: 20px;
  border: solid;
  margin-top: 20px;
  margin-bottom: 8px;
  border-radius: 5px;

}

