// Specific CSS
.banner {
  height: 30vh;
  background-size: cover;
  display: flex;
  background-size: cover;
  
  h1 {
    margin-top: 16px;
    margin-left: 16px;
    color: #0d1117;
  }
  p {
    margin-left: 16px;
    color: #0d1117;
      
  }
}

.btn-info {
  margin-left: 16px;
  margin-bottom: 16px;  
}

.container {
}


body.landingpage {
  border: solid 1px #f8f8ff;
}

.bordered {
  padding-top: 20px;
  ;
  margin-top: 20px;
  margin-bottom: 8px;
  border-radius: 5px;
  background: #DC3C18;
  color:#f8f8ff;
}

