<%= form_tag(decks_path, :method => "get",   
    class: '') do %>
  <div class = "search">
    <div class="input-group txtSmall">  
      <%= search_field_tag :search, params[:search], placeholder: "Search a Deck" %>
    </div>
  </div>
  <div class = "searchbutton">  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-info fab fa-searchengin ml-1 ',:name => nil %>
    </div>       
  </div>  
<% end %>
