<body class="landingpage">
  <div class="banner d-flex flex-column justify-content-between">
   <div class="container text-center">
    <h1 class="text-center txtBig" style="font-size: 100px; color: white;   text-shadow:
   -1px -1px 0 #FF4500,
    2px -1px 0 #FF4500,
    -1px 1px 0 #FF4500,
     3px 1px 0 #FF4500;">
      .FLASH⚡️
    </h1>
    </div>
    <div class="slogan">
      <p > Get Decked Out ! <br>Practice your LeWagon Decks on the Go! <br>Make your Decks!</p>
    </div>
     <div class=" sign-up call-to-action text-center" style="position: relative; bottom: 0px;">
     <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info btn-lg text-center'%>
  </div>

  </div>

</body>
