
<div class="banner d-flex align-items-center">
  <div class=" container inner text-left">
    <h1 class="text-left"> .FLASH⚡️ </h1>
    <p>Get your coding-concepts right with <br> your trusty side-kick .FLASH⚡️</p>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info text-center'%>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Setup</h2>
      <ol>
        <li>Get logged in</li>
        <li>Start reviewing your pre-loaded cards</li>
        <li>Add your own decks and cards, for whatever topic!</li>
      </ol>
    </div>
  </div>
<br>
  <h2><%= link_to 'All Decks', decks_path %></h2>
  <h2><%= link_to 'My Profile', user_decks_path %></h2>
<br>
</div>
