<body class="landingpage">
 <div class="banner d-flex align-items-center">
   <div class=" container inner text-center">
     <h1 class="text-center txtBig"> .FLASH⚡️ </h1>
     <p class ="txtSmall">GET DECKED OUT!</p>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-danger text-center'%>
   </div>
 </div>
  <div class="container txtBig">
   <div class="row">
     <div class="col-sm">
       <h2 class="txtBig text-center">Setup</h2>
      <div class="bordered">
        <ol>
        <li class="txtSmall">Get logged in</li>
        <li class="txtSmall">Start reviewing your pre-loaded cards</li>
        <li class="txtSmall">Add your own decks and cards, for whatever topic!</li>
       </ol>
      </div> 
     </div>
    </div>
   <br>
  <h2 class="txtBig text-center"><%= link_to 'All Decks', decks_path %></h2>
  <h2 class="txtBig text-center"><%= link_to 'My Profile', user_decks_path %></h2>
   <br>
  </div>
</body>
