<h1><%= @user_deck.deck.name %></h1>
<ul>
  <% @user_deck.deck.cards.each do |card|%>
    <div class="card">
      <li>Question: <%= card.question %></li>
      <li>Answer: <%= card.answer %></li>
      <li>Hint: <%= card.hint %></li>
    </div>
  <% end %>
</ul>

