@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.btn-outline-primary {
     font-family: 'Open Sans', sans-serif;
}

.btn-outline-danger {
     font-family: 'Open Sans', sans-serif;
}


.btn-info {
     font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    font-family: 'Open Sans', sans-serif;
}

.btn-danger {
     font-family: 'Open Sans', sans-serif;
  color:white;
}

.btn-warning {
      font-family: 'Open Sans', sans-serif;
}

.btn-success {
     font-family: 'Open Sans', sans-serif;
  color:white;
}
