@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.btn-outline-primary {
  font-family: 'Oswald', sans-serif;
}

.btn-outline-danger {
  font-family: 'Oswald', sans-serif;
}

.btn-info {
  font-family: 'Oswald', sans-serif;
}

.btn-primary {
  font-family: 'Oswald', sans-serif;
}

.btn-danger {
  font-family: 'Oswald', sans-serif;
}

.btn-warning {
  font-family: 'Oswald', sans-serif;
}

.btn-success {
  font-family: 'Oswald', sans-serif;
  color:white;
}