.navbar-lewagon {
  justify-content: space-between;
  background: #DC3C18;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-toggler {
    color: #2292A4;
    border-color: #2292A4;
    border: solid;
    border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link {
  color: #FDD187;
}

.search {
  //border-style: solid 2px #2292A4;
  border: solid 1px #f5f5f5;
  border-radius: 5px;
  outline: 0;
  position: absolute;
  left: 155px;
  top: 13px;
}

.searchbutton {
  position: absolute;
  left: 108px;
  top: 13px;
  padding-top: 2px;
  padding-bottom:2px;

}
