.navbar-lewagon {
  justify-content: space-between;
  background: #000000;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-toggler {
    color: #2292A4;
    border-color: #2292A4;
    border: solid;
    border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link {
  color: #2292A4;
}