// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-color:#28282B ;
}

.application {
 background-color: #fff;
 max-width: 380px;
 min-height: 100vh;
 margin: 0 auto;
 margin-top: 10px;
 margin-bottom: 10px;
 border-radius: 16px;
 overflow-y: scroll;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #0d1117;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #0d1117;
}

h3 {
  font-family: 'Oswald', sans-serif;
  color: #0d1117;
}

.hidden {
  display: none;
}

.a {
  color: #0d1117;
}


.a-box {
  align-items:center;
  border: dotted red;
  width: 300px;
  height: 150px;
  margin-left: 4px;
  margin: 0 auto;
}

// .swiper-container {
//   width: 300px;
//   height: 600px;
// }

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: block;
  font-family: 'Play', sans-serif;
  text-align: center;
  font-size: 16px;
  width: 360px;
  height: 550px;
  // margin: 0 auto;
  // float: none;
  // position: relative;
  // width: 300px;
  // height:600px;
}

.flashcard-content {
  font-family: 'Play', sans-serif;
  font-size: 18px;
}

.swiper-pagination {
  color: white;
}

.form {
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
}

.deviseform {
  border: solid 1px #DC3C18;
  border-radius: 5px;
  color: #0d1117;
  background-color: #f8f8ff;
  width:40vh;
  padding-top: 10px;
  padding-bottom: 10px; 
  margin-left: 20px;
  margin-right: 20px;
}

.form-inputs {
  margin: 10px;
  
}

.indexcont {
  border: solid 3px #2292A4;
  border-radius: 5px;
  color: #2292A4;
  background-color: #000000;
  width:40vh;
}

.list-group-item {
  background-color: #f8f8ff;
  font-family: 'Cardo', serif;
}


.well {
 margin-top: 10px;
}

.card {
  border: solid 1px #DC3C18;
  border-radius: 5px;
  color: #0d1117;
  background-color: #f8f8ff;
  margin-bottom: 5px;
  margin-top:5px;
  font-family: 'Cardo', serif;
}


#relative-cont {
  position: relative;
}

#absolute-cont {
  position: absolute;
  top: 5px;
  right: 20px;
  width: 25px;
  height: 25px;
}

#relative-index {
  position: relative;

}

#absolute-index {
  position: absolute;
  top: 15px;
  right: 40px;
  width: 50px;
  height: 25px;
}

#activeCardButtons{
  bottom: 15px !important;
  position:fixed;
  margin-left: 72px;
  margin-right:72px;
}

.btn-outline-info {
  border: none;
  border-color:none;
}
.btn-outline-info:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.btn-outline-secondary {
  border: none;
  background-color: none;
}
.btn-outline-secondary:hover {
  border: none;
  background-color: none;
}

.btn-outline-danger {
  border: none;
}

.btn-outline-success {
  border:none;
}

// #relative-profile {
//   position: relative;
// }

// #absolute-profile {
//   position: absolute;
//   top: 0px;
//   right: 5px;
//   width: 30px;
//   height: 30px;
// }gs

#instructions {
  border: none;
//   position: absolute;
//   left: 10px;
//   top: 10px;
}

.hint-button-absolute {
  position: absolute;
  right: 10px;
  top: 10px;
}

.btn-outline-info {
  border: none;
  border-color:none;
}
.btn-outline-info:hover {
    color: black;
    background-color: transparent;
    border-color: black;
}

.btn-outline-secondary:hover{
  background-color: #5B6369;
}


#activeCardButtons{
  width: 220px;
}

// .know-button {
//   position: absolute;
//   left: 15px;
// }

// .user-answer-button {
//   position: absolute;
//   text-align: center;
// }

// .unknow-button {
//   position: absolute;
//   right: 15px;
// }
