<h1>All Decks</h1>
<%= link_to "Add New Deck", new_deck_path, class: "btn btn-primary" %>
<ul class="stack-cards js-stack-cards">
  <% @decks.each do |deck| %>
    <li class="stack-cards__item js-stack-cards__item"><%= link_to deck.name, deck_path(deck) %></li>
  <% end %>
</ul>

